/* Navigations links */
.links-wrapper {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-wrapper > .nav-link {
    width: auto;
    text-align: center;
}

.links-wrapper > .nav-link a {
    font-size: 22px;
    font-family: 'Noto sans', sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* Spark */
.spark-wrapper { 
    margin-bottom: 3px;
}

.spark-wrapper a {
    font-size: 22px;
    color: #96989b;
    text-decoration: none;
    font-weight: 500;
    width: 100px;
    padding: 0px 25px;
}
.spark-wrapper i {
    font-size: 18px;
    padding: 0px 10px;
}
