/* Headboard */
h1 {
    color: #f5e381;
    font-size: 17px;
    margin: 1px;
}

/* Text main-section */
.text1 {
    width: 650px;
    font-size: 40px;
    font-weight: 300;
}

.text2 {
    width: 600px;
    margin-top: 20px;
    font-size: 30px;
    color: #cdcccc;
}

/* Over-image */
h2 {
    font-size: 22px;
    padding: 0px 20px;
    margin-bottom: 7px;
}

.other-style {
    color: #57d9ff;
}

/* Text buttons-bottom */
.text3 {
    font-size: 16px;
    font-weight: 900;
    border: 2px solid #6c6c6b;
    background: #36383f;
    text-align: center;
    line-height: 50px;
}
.other-style2 {
    font-size: 20px;
    font-family: 'Rammetto One', cursive, sans-serif;
    font-weight: 400;
}